<ul>
  <% @users_follower.each do |user| %>
    <div>
      <%= profile_img(user) %><br>
      <%= link_to relationship_path(user) do %>
        <%= user.name %>
      <% end %><br>
      <% unless current_user.id == user.id %>
        <%= render 'users/follow_form', user: user %>
      <% end %>
      <br>
    </div>
  <% end %>
</ul>
